* {
	margin: 0;
	padding: 0;
}

/* Toggle switch start */

.switch {
    cursor: pointer;
    /*margin: 1rem auto;*/
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    outline: none;
    background-color: #B80F0A;
    -webkit-appearance: none;
	appearance: none;
    transition: background .3s;
}

.switch::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #FFFFFF;
    transition: left .3s;
}

.switch:checked {
    background-color: #04AA6D;
}

.switch:checked::after {
    left: 70%;
}

/* Toggle switch end */

.body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: #F0FFF0;
}

.body-heading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95vw;
	min-width: 500px;
	height: 6vh;
	min-height: 35px;
	margin: 1.5vw;
    padding: 1.5vw;
    box-sizing: border-box;
	background-color: #046bb4;
}

.body-content-container {
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 81vh;
	min-width: 500px;
	justify-content: flex-start;
	overflow-y: auto;
}

.body-heading, .source-heading, .source-name, .service-name, .up-down-time {
	font-family: "Poppins", sans-serif;
	color: #FFFFFF;
}

.body-heading {
	font-size: 1.25rem;
}

.up-down-time {
	font-size: 0.75rem;
}

.source-service-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 15vh;
	min-width: 500px;
	min-height: 90px;
	margin-bottom: 0.5vw;
}

.source-container {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
	align-items: center;
	border-right: 1px solid #FFFFFF;
}

.source-name {
	font-size: 0.85rem;
	text-transform: uppercase;
}

.source-heading, .service-name {
	font-size: 0.95rem;
}

.service-container {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
}

.service-container-individual {
	display: flex;
	flex-direction: column;
	flex: 1 0 20%;
	height: 100%;
	align-items: center;
}

/* Border for the last element */

.service-container-individual:last-of-type {
	border-right: 1px solid #FFFFFF;
}

.src-svc-heading-container {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #064e95;
}

.src-svc-content-container {
	display: flex;
	width: 100%;
	height: 50%;
	justify-content: center;
	align-items: center;
	background-color: #2294c7;
	flex-direction: row;
}

.toggle-button-container {
	height: 66%;
	margin-left: 4vw;
}

.up-down-time-container {
    margin-left: 0.5vw;
}

/* Custom scroll bar */
/* width */
.service-container::-webkit-scrollbar {
  height: 4px;
}

.body-content-container::-webkit-scrollbar {
	width: 4px;
}

/* Track */
.service-container::-webkit-scrollbar-track, .body-content-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Handle */
.service-container::-webkit-scrollbar-thumb, .body-content-container::-webkit-scrollbar-thumb {
  background-color: #046bb4;
  border-radius: 5px;
}

/* Handle on hover */
.service-container::-webkit-scrollbar-thumb:hover, .body-content-container::-webkit-scrollbar-thumb:hover {
  background-color: #07ace2;
  cursor: pointer;
}